:root {
  --colorFondo: #FFFBF2;
  --texto: #2D2D2D;
  --titulosColor: #8A1538;
  --nombresColor: #2A9D8F;
  --tituloForma: "Playfair Display", serif; ;
  --textoForma: "Cormorant Garamond", serif; 
  --nombresFormas: "Mulish", sans-serif;
}

* {
  background-color: var(--colorFondo);
  margin: 0%;
  }


.titulos{
  color: var(--titulosColor);
  font-family: var(--nombresFormas);
}
.texto{
  color: var(--texto);
  font-family: var(--textoForma);
  font-size: larger;
  font-weight: bolder;
}
.nombres{
  font-family: var(--nombresFormas);
  color: var(--nombresColor);
}

.inicioCV{
  display: flex;
  flex-direction: row;
  position: relative;
  right: 2%;
  width: 100%;
  margin-left: 1%;
  
 }
.inicioCV_imagen{
  opacity: 0;
  position: relative;
  bottom: -1%;
  margin: 0%;
  height: 100%;

  
 }
.inicioCV_nombre {
  position: absolute;
  transition: linear;
  margin-left: 3%;
  
 }
 .inicioCV_titulo{
  font-size: 35px;
  align-self: flex-end;
  position: absolute;
  margin-left: 10%;
  margin-bottom: 12%;
}
.inicioCV_texto {
  right: 20%;
  width: 50%;
  margin-left: auto;
  font-size: xx-large;
}
.inicioCV:hover .inicioCV_nombre{
  opacity: 0;
 }
.inicioCV:hover .inicioCV_imagen{
  opacity: 1;
}
.inicioCV:hover .inicioCV_titulo{
  opacity: 0;
}

.certificacionesCV{
  display: flex;
  flex-direction: row;
}
/* No borrar de esta los border */
.certificacionesCV_imagenes, .certificacionesCV_imagenes{
  height: 110px;
  width: auto;
  margin: 0%;
  border: 15px;
  border-style: groove;
  background-color: white;
  margin-left: 7%;
}
.certificacionesCV_ciberseguridad {
  height: auto;
  width: auto;
  margin: 0%;
  border: 15px;
  border-style: groove;
  background-color: white;
  padding: 0%;

}
.certificacionesCV_unidas {
  display: flex;
  flex-direction:inherit;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-left: 20%;
  width: 70%;
}
.certificacionesCV_titulo{
  text-align: center;
  position: absolute;
  left: 45%;
  font-size: xx-large;
}
.contactoCV_lista {
  display: flex;
  flex-direction: row;
  align-content: center;
  list-style: none;
  gap: 20px;
  justify-content: center;
}
.contactoCV_lista>li>a>img {
  height: 60px;
  width: auto;
}
.contactoCV_titulo {
  text-align: center;
  margin: 10px;
}
footer {
  display: flex;
  align-items: baseline;
}
