:root {
  --colorFondo: #FFFBF2;
  --texto: #2D2D2D;
  --titulosColor: #8A1538;
  --nombresColor: #2A9D8F;
  --tituloForma: "Playfair Display", serif; ;
  --textoForma: "Cormorant Garamond", serif; 
  --nombresFormas: "Mulish", sans-serif;
}

* {
  background-color: var(--colorFondo);
  margin: 0%;
  }


.titulos{
  color: var(--titulosColor);
  font-family: var(--nombresFormas);
}
.texto{
  color: var(--texto);
  font-family: var(--textoForma);
  font-size: larger;
  font-weight: bolder;
}
.nombres{
  font-family: var(--nombresFormas);
  color: var(--nombresColor);
}

.inicioCV{
  display: flex;
  flex-direction: row;
  position: relative;
  right: 2%;
  border-style: double;
  width: 100%;
  margin-left: 1%;
  
 }
.inicioCV_imagen{
  opacity: 0;
  position: relative;
  bottom: -1%;
  margin: 0%;
  height: 100%;

  
 }
.inicioCV_nombre {
  position: absolute;
  transition: linear;
  margin-left: 3%;
  
 }
 .inicioCV_titulo{
  font-size: 35px;
  align-self: flex-end;
  position: absolute;
  margin-left: 10%;
  margin-bottom: 12%;
}
.inicioCV_texto {
  right: 20%;
  width: 50%;
  margin-left: auto;
  font-size: xx-large;
}
.inicioCV:hover .inicioCV_nombre{
  opacity: 0;
 }
.inicioCV:hover .inicioCV_imagen{
  opacity: 1;
}
.inicioCV:hover .inicioCV_titulo{
  opacity: 0;
}

